DB2_HOST=localhost
DB2_PORT=3306
DB2_USER=root
DB2_PASS=your_db_password_here
DB2_NAME=pingfin_team20
PORT2=3001
CB_URL2=https://stevenop.be/pingfin/api/v2
CB_TOKEN2=your_cb_token_here
CB_BIC2=HOMNBEB1
CB_SECRET2=your_secret_key_here
